html{
    text-align: center;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5em;
    background-color: beige;
}
.inner-div{
    border: 1px solid #afc;
    /* border-radius: .25rem; */
    min-height: 1.93%;
    min-width: 1%; 
    transition: 0s 180s; /* helps make hover stay
    /* visibility: hidden; */
    border-radius: .5rem;
}

.inner-div:hover{
    /* background-color: aqua; */
    visibility: visible;
    transition: 0.1s; /* helps make hover stay*/

}
section{
    display: flex;
    justify-content: center;
}

/* .coloris{
    margin-right: 1em;
    min-height: 10px;
    width: 15px;
} */
.container{
    max-width:60% ;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #abc;
    min-height: 60vh;
    min-width: 60vw;
    background-color: white;
}
div.settings{
    display: flex;
    justify-content: center;
    gap:10px;
}
input[type="range"]{
    width: 20%;
}