@font-face {
    font-family: holder_medium;
    src: url(./fonts/holder/HolderBold_PERSONAL_USE_ONLY.otf);
  }
html{
    text-align: center;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5em;
    background-color: beige;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input,button{
    cursor:pointer;
    font-family:holder_medium, robotronica, lato, sans-serif;
}
button:hover{
    transform: scale(1.2);
    background-color: aquamarine;
}
input[type="color"]:hover{
    transform: scale(1.2);
}
main{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5em;
    background-color: beige;
    font-family:holder_medium, robotronica, lato, sans-serif;
    /* font-family: holder_medium; */
}
footer{
    background-color: #1F2937;
    color:#e5E7EB;
    font-size: 18px;
    margin: 0;
    margin-bottom: 0;
    bottom: 0;
    margin-top: 2rem;
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-div{
    /* border: 1px solid #afc; */
    /* border-radius: .25rem; */
    min-height: 1.93%;
    min-width: 1.93%; 
    transition: 0s infinite; /* helps make hover stay
    /* visibility: hidden; */
    border-radius: .1rem;
}

.inner-div:hover{
    /* background-color: aqua; */
    /* visibility: visible; */
    transition: 0.1s; /* helps make hover stay*/

}
section{
    display: flex;
    justify-content: center;
}

/* .coloris{
    margin-right: 1em;
    min-height: 10px;
    width: 15px;
} */
.container{
    max-width:60% ;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid rgb(3, 13, 26);
    min-height: 60vh;
    min-width: 60vw;
    background-color: white;
}
div.settings{
    display: flex;
    justify-content: center;
    gap:10px;
}
input[type="range"]{
    width: 20%;
}